@inherits LayoutComponentBase

<div>
    <FluentMainLayout NavMenuTitle="Navigation menu">
        <Header><h3>DANKNET</h3></Header>
        <Body>
            <div style="height: 90vh; width: 98%; margin: 10px;">
                @Body
            </div>

            <FluentToastProvider />
            <FluentMessageBarProvider />
            <FluentDialogProvider />
            <FluentTooltipProvider />
            <FluentMenuProvider />
        </Body>
        <NavMenuContent>
            <FluentNavLink Icon="@(new Icons.Regular.Size20.Home())" Href="/home">Home</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size20.CloudLink())" Href="/dash/home">Dashboard</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size20.FolderGlobe())" Href="/subtrackr/home">Subnets</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size20.ArrowRepeatAll())" Href="/monitoring/home">Monitoring</FluentNavLink>
        </NavMenuContent>
    </FluentMainLayout>
</div>

<!--


-->



